@layer theme, base, mui, components, utilities;
@import 'tailwindcss';

:root,
body,
button,
input,
textarea {
	font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
	font-weight: 600;
}

:root {
	font-size: 21px;
}